site_name: Jakub Jakubowicz 263925, Olaf Sujata 263964
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.selections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: pl
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
nav:
  - Strona główna: /
  - Działanie kodu: /Działanie kodu/
  - Ćwiczenie 1: /Ćwiczenie 1/
  - Ćwiczenie 2: /Ćwiczenie 2/
  - Ćwiczenie 3: /Ćwiczenie 3/
  - Ćwiczenie 4: /Ćwiczenie 4/